<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
<link rel="stylesheet" href="styles.css">

</head>
<body>
<div class="wrapper">
  <div class="main_title"><h1>Counter</h1></div>


    <h2 class='times'></h2>
      <div class="container">
        <cell1 class='1'></cell1>
        <cell2 class='2'></cell2>
      </div>

</div>
</body>
</html>
